<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Monsieur & Madame</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css"  type="text/css" rel="stylesheet" media="screen">
	</head>

	<body>
		<div class="container" >
			<h1> Monsieur & Madame</h1>
			<h5> Premier site de retro-recherche par prénom !</h5>
			</br>
			{% block content %}{% endblock %}

			<hr>
			<div class="text-center">
				Copyright AsTekNodeJs 2019
			</div>
		</div>
	</body>
</html>
